/*a {
    background-color: gray;!important;
    color: blue;
    font-size: 10px;
}*/

code {
    font-weight: bold;
}

#formheader {

    text-align: right;
    margin: 30px 0;

}

fieldset{
    border: dashed; 
    /* margin: 0 100px; */
}

.class2 {
    background-color: gray;
    color: white;
    padding: 5px;
    margin: 2px;
}

.class1 {
    font-size: x-large;
}

#username,
#password {
    width: 100px;
}

#pic {
    float: left;
}

span {
    border: thin black solid;
    background-color: gold;
    padding: 10px;

}