@import "home.css";
@import "formtest.css";

body {
    margin: 0 100px;
}

.card {
    border: solid thick red;
    margin: 10px 10px 10px 10px;
}

.card>p::after {
    content: " Line.";
}

.middle {
    text-align: center;
    font-size: x-large;
}

header>nav {
    border: thin dashed black;
    text-align: center;

}

footer {
    border: thin dashed black;
    background-color: rgb(0, 255, 174);
    text-align: center;
    position: fixed;
    left: 100px;
    right: 100px;
    bottom: 20px;

}

hr {
    margin: 20px 0px;
}

thead th,
tfoot th {
    background-color: gray;
    color: white;
}

[colspan] {
    font-weight: bold;
    background-color: lightgray;
    border: medium solid darkgray;
}

tbody th:only-of-type {
    background-color: lightgray;
    color: gray;
}


table {
    margin-top: 10px;
}



caption {
    margin-bottom: 10px;
}

#None {
    background-color: white;
}

#tag,
#avg {
    color: darkgrey;
}

#colgroup-grades {
    background-color: yellow;
}